<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Change Password</title>
</head>
<body>
    <%-include('header')%>
    <hr>
    <form action="/changepassword/changepassprocess" method="post">
        Old Password: <input class="form-control" type="password" name="opass" placeholder="Old Password" required><br><br>
        New Password: <input type="password" name="npass" placeholder="New Password" required><br><br>
        Confirm Password: <input type="password" name="cpass" placeholder="Confirm Password" required><br><br>
        <input type="submit" value="Change Password"><br><br>
        
    </form>
</body>
</html>