<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <%-include('header')%>
    <hr>
    <form action="/forgotpassword/forgotpassprocess" method="post">
        Email: <input type="email" name="admin_email"  placeholder="Enter Registered email " required><br><br>
        
        <input type="submit" value="Sent Password"><br><br>
        if you don't Forgot ? <a href="/login">Login !</a>
        
    </form>
</body>
</html>