<a href="/adminform">Admin Form</a> |  
<a href="/categoryform">Category Form</a> |
<a href="/productform">Product Form</a> |
<a href="/userform">User Form</a> |
<a href="/changepassword">Change Password</a> |
<a href="/logout">Logout</a> |